/**
 * Styles for blocks in the sidebars.
 */
.region-sidebar-left .sidebox h3 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.1em;
}

.region-sidebar-left .sidebox {
  padding: 10px;
  border: 1px solid #000000;
  background: #ffffff url(../images/sidebox-left.png) repeat-x bottom;
}

.region-sidebar-right .sidebox h3 {
  padding: 0 0 10px 0;
  margin-left: 20px;
  color:blue
font-size: 2.2em;
  line-height: 2.2em;
}
.panels-block1 {
  padding: 10px;
  border: 3px solid #3eabe3;
  background: #ffffff;
}

.panels-block2 {
  padding: 10px;
  background: #0B74A8;
  color: white;
}
.panels-block3 {
  padding: 10px;
  border: 1px solid #59d3fa;
}
.panels-block4 {
  padding: 10px;
  border: 3px solid #3eabe3;
  background: #EFEFEF;
}
.region-sidebar-right .sidebox {
  padding: 10px;
  border: 1px solid #000000;
  background: #DEDEDE url(../images/sidebox-right.png) repeat-x bottom;;
}

.sidebox-content {
  margin: 0;
  padding: 0;
}

.sidebox-content textarea,
.sidebox-content input.form-text {
  max-width: 100%;
}
