/* Base Styles */
/** { margin:0; padding:0;}*/

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 770px;
  text-align: center; /*Centering for IE */
  line-height: 1.5em;
  color: #27343C;;
  background: #BED9EB url(../images/envelope_bg.gif) repeat-x 0 0;
}

a, a:visited, a:active  {
	color:#1D7BBF;
	text-decoration:underline;
}
/* Reduce field Size in registration and login */
#user-register input.form-text,
#user-profile-form input.form-text,
#user-login-form input.form-text {
  width: 360px;
}

/* Layout */

#page-wrapper {
  padding: 0;
  margin: 0 auto; /* Center on Page */
  text-align: left; /* Reset text alignment */
}

#main-content {
  float: left;
  width: 100%;
  overflow: hidden;
}

#squeeze {
}

#main-content-inner {
/*  padding: 10px;*/
  margin: 10px 0;
  overflow: hidden; /* Fix for collapsible fieldsets in IE */
}

#middle-wrapper .sidebar-right {
  float: left;
  z-index: 1;
  position: relative;
}

#middle-wrapper .sidebar-left {
  float: left;
  z-index: 1;
  position: relative;
}

.sidebox-left h3 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.1em;
}

/* To copy Anthony's code */
#user-register input.form-text,
#user-profile-form input.form-text,
#user-login-form input.form-text {
  width: 360px;
}

.sidebox-left {
  padding: 10px;
  border: 1px solid #000000;
  background: #ffffff url(../images/sidebox-left.png) repeat-x bottom;
}

.sidebox-right h3 {
  padding: 0 0 10px 0;
  margin-left: 20px;
  color:blue
  font-size: 2.2em;
  line-height: 2.2em;
}
.panels-block1 {
  padding: 10px;
  border: 3px solid #3eabe3;
  background: #ffffff;
}

.panels-block2 {
  padding: 10px;
  background: #0B74A8;
  color: white;
}
.panels-block3 {
  padding: 10px;
  border: 1px solid #59d3fa;
  }
.panels-block4 {
  padding: 10px;
  border: 3px solid #3eabe3;
  background: #EFEFEF;
}

.midfold-text { font-size: 14px; line-height: 17px; font-weight: normal; 
height: 95px; margin-right: 10px; margin-top: -10px;}

.midfold-header { font-size: 16px; line-height: 15px; 
font-weight: bold; text-shadow: 0 1px 1px #DADADA; }

.demoFront2 > div > div { float: left; }
a.buttonGreen { text-shadow: 0px 1px 2px #526d00 }
a.buttonGreen { background: url("../images/buttonGreen.png") no-repeat 0 0; 
float: right; display: block; height:58px; width: 245px;
font: bold 22px/58px Arial, Helvetica, sans-serif; text-transform: uppercase;
color: #fff; margin: 5px auto 0; padding: 0 0 0 17px; }

.moduletitle {
    font-size: 150%;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 5px 0;
}
.moduletable_ticket {
	background: url(../images/ticket.png) no-repeat bottom right;
}
.moduletable_idea {
	background: url(../images/idea.png) no-repeat bottom right;
}
.moduletable_cards {
	background: url(../images/cards.png) no-repeat bottom right;
}
.moduletable_gift {
	background: url(../images/gift.png) no-repeat bottom right;
}



.sidebox-right {
  padding: 10px;
  border: 1px solid #000000;
  background: #DEDEDE url(../images/sidebox-right.png) repeat-x bottom;;
}

.sidebox-content {
  margin: 0;
  padding: 0;
}

.sidebox-content textarea,
.sidebox-content input.form-text {
  max-width: 100%;
}

#topboxes {
  padding: 0;
  margin: 0;
  color: #484d51;
  border: 1px solid #000000;
  border-top: 0px;
  background: url(../images/bottomboxes-background-green) repeat-x;
  overflow: hidden;
}

#bottomboxes {
  padding: 0;
  margin: 0;
  color: #ffffff;
  overflow: hidden;
}

.userbox {
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32757px;
  background: white url(../images/bottomboxes-background-green) repeat-x;
}

.userbox-bottom {
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32757px;
}

.userbox-inner {
  padding: 10px;
}

.userbox-bottom-inner {
  padding: 10px;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
  border: 1px solid #000000;
  border-right: 1px solid #111111;
  background: #000000 url(../images/bottomboxes-background.png) repeat-x top;
}

.width25 {width: 25%;}
.width33 {width: 33.3333%;}
.width50 {width: 50%;}
.width100 {width:100%;}

#footer {
  padding: 10px;
  margin: 0;
  clear: both;
  text-align: center;
}

/* Header */

#header-wrapper {
  /*height: 350px;*/
}


#site-logo {
  margin: 0;
  padding: 17px 0 0 0;
  height: 54px;
  float: left;
  border: 0;
}

#site-name {
  padding: 17px 0 0 0;
  margin: 0;
  float: left;
  text-align: right;
}

#site-name a {
  font-size: 54px;
  font-weight:900;
  line-height: 54px;
  color: white;
}

.site-slogan h2 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: 12px;
  line-height: 12px;
  color: #e4e4e4;
  text-align: right;
}

#search-box {
  text-align: right;
}

#topbanner {
  margin: 0;
  /*height: 300px;*/
  background: #59D3FA;
}

#topbanner p {
  float: right;
  padding: 0;
  margin: 0;
}

/* Side Menu */

.sidebox-content ul.menu, .sidebox-content ul.menu li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

.sidebox-content ul.menu li {
  margin-left: 0;
}

.sidebox-content ul.menu li a {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.sidebox-content ul.menu li a:hover {
  color: #ffffff;
  font-weight: bold;
  background: #151515;
}

.sidebox-content ul.menu li a {
  font-weight: bold;
}

.sidebox-content ul.menu li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebox-content ul.menu li ul li {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.sidebox-content ul.menu li ul li a {
  font-weight: normal;
}

.sidebox-content ul.menu li ul li a.active {
  color: #e50000;
  font-weight: bold;
}

.sidebox-content ul.menu li ul li a.active:hover {
  color: #ffffff;
  font-weight: bold;
}

li a.active {
  font-weight: bold;
  color: #1D7BBF;
}

input,
textarea,
select {
	padding:5px;
	border:1px solid #496D78;
	background:#EBF2F5;
	font:bold 12px verdana;
	color:#457589;
}
  
input:radio,
input:checkbox {
  border: none;
  background: none;
}

input.disabled {
  background-color: #ABB2B5;
}

/* Misc Elements */

.item-list ul {
  padding: 10px 0;
  margin: 0;
}

.item-list ul li {
  padding: 0;
  margin: 0;
  list-style:none;
  font-size: 0.9em;
}

.sidebox-content .item-list ul {
  padding: 0;
  margin: 0;
}

.submitted {
  font-size: 0.9em;
  font-style:italic;
  color:#999999;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.title a {
  color: #191a1c;
}

.node {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #999999;
}

.node-title {
  clear: both;
  padding: 2px 4px;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight: normal;
  border: 1px solid #999999;
  background-image: url(../images/nodetitle.jpg);
  background-position: left bottom;
  background-repeat: repeat-x;
  color: #FFFFFF;
}

.breadcrumb {
  float: left;
  font-size:0.8em;
  font-weight: bold;
}

.block-region {
  padding: 10px;
  border: 2px dashed #333333;
  background:#FFFFFF;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}

ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}

ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}

h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
  display: inline-block;
}

ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(../images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}

ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}


/* Tables */
thead th {
  background: #496D78 url(../images/th-bg.png) top left repeat-x;
  border-bottom:3px solid #B3EFD7;
  padding-right:1em;
  text-align:left;
}

tr.even, tr.odd {
  background-color: #EFFFF2;
  border-bottom: none; /* 1px solid #CCCCCC; */
  padding:0.1em 0.6em;
}

th *, tr.even div, tr.odd div {
  margin: 4px 2px;
}

td.active {
  background-color: #CFFFDF;
}

tbody {
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
}

/* Others */
.form-submit { 
  background:url(../images/form-submit.gif) 0 0 repeat-x; 
  vertical-align:middle; 
  color:#FFF; 
  font-size:12px; 
  font-weight:bold; 
  border:1px solid #496D78; 
  padding:0px 3px 2px 3px
}

.form-submit:hover { 
  background-position: 0 -55px;
  border-color: #490000;
}

.form-submit:active { 
  background-position: 0 -110px;
  border-color: #496D78;
}

.links {
  font-size: 1.0em;
  font-weight: bold;
}

.more-link {
  font-weight: bold;
}

#edit-name-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#edit-pass-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#search-block-form {
  width: 100%;
  text-align: center;
}

/* Comments */

#comments {
}

#comments .submitted  {
  color: #5C5C5C;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  color: #363636;
  border-top: 3px solid #5C5C5C;
  background: #D9D9D9;
}

.indented {
  margin-left: 0px;
}

/* Aggregator */

.feed-url {
  padding: 10px 0;
}

.feed-updated {
  padding: 0 0 10px 0;
}

/* Book */

.book-navigation ul.menu, .book-navigation ul.menu li {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  background: #e6e6e6;
}

.book-navigation ul.menu {
  padding: 10px;
}

.book-navigation .page-links {
  padding: 10px 10px 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 0px solid;
}

/* Poll Styles */

.poll .title {
  font-size: 1.0em;
  font-weight: bold;
}

/* Forum Styles */

#forum {
  padding: 10px 0;
}

#forum ul.links {
  padding: 0 0 10px 0;
}

#forum ul.links li {
 padding: 0;
 margin: 0;
}

/* Main Forum table */

#forum table {
  width: 100%;
  font-size: 1.0em;
}

#forum td {
  padding: 10px;
}

#forum .odd {
  background: #e0e0e0;
  color: #000000;
}

#forum .even {
  background: #c5c5c5;
  color: #000000;
}

/* Container Styles */

#forum .container {
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight: normal;
  font-size: 1.0em ;
}

#forum .container a {
  color:#ffffff;
  font-weight:bold;
}

#forum .container .name {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

#forum .container .description {
  margin: 0;
  float: right;
  color:#e0e0e0;
}

#forum .name a {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

#forum .description {
  padding: 0;
  margin: 0;
}

#forum tr td.forum {
  background-image:url(../../misc/forum-default.png) 100% 50%;
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 36px;
}

#forum td {
  padding: 10px 0;
  margin: 0;
}

#forum div.indent {
  margin-left: 0;
}

#forum .title {
  font-size: 1.0em;
}

#forum .active {
  color: #000000;
}

#forum th img {
  padding-left: 10px;
}

#forum td.icon {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Admin Styles */

table {
  width: 100%;
/*  font-size: 10px;*/
  font-size: 0.9em;
}

td, th {
  padding: 0.5em 1em;
}

div.admin {
}

div.admin .left {
  float: left;
  margin: 0;
  width: 49%;
}

div.admin .right {
  float: left;
  margin: 0;
  width: 49%;
}

/* Typography - Custom styles for use in content creation. */
table caption {
  text-align: left;
  padding: 10px 0px;
  color: #446;
  background: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.0em;
  line-height: 1.5em;
  font-weight: bold;
}

h5 {
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5em;
  color: #E50000;

}

p.alert {
  padding: 10px 15px 10px 54px;
  color: #523A00;
  border-top: 3px solid #FEC201;
  border-bottom: 3px solid #FEC201;
  background: #FFEDB5 url(../images/alert.png) 15px 50% no-repeat;
}

p.info {
  padding: 10px 15px 10px 54px;
  color: #001045;
  border-top: 3px solid #0023A1;
  border-bottom: 3px solid #0023A1;
  background: #BACAFF url(../images/info.png) 15px 50% no-repeat;
}

p.notice {
  padding: 10px 15px 10px 54px;
  color: #363636;
  border-top: 3px solid #5C5C5C;
  border-bottom: 3px solid #5C5C5C;
  background: #D9D9D9 url(../images/modify.png) 15px 50% no-repeat;
}

p.download {
  padding: 10px 15px 10px 54px;
  color: #26420E;
  border-top: 3px solid #5EAA1F;
  border-bottom: 3px solid #5EAA1F;
  background: #DAFFBA url(../images/download.png) 15px 50% no-repeat;
}

blockquote {
  margin: 20px;
  padding-left: 45px;
  background: url(../images/openquote.png) top left no-repeat;
}

blockquote p {
  padding-right: 35px;
  background: url(../images/closequote.png) bottom right no-repeat;
}

pre {
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  border: 1px outset #333333;
  background: #ededed;
}

ul.arrow {
  list-style-image: url(../images/list-item.png);
}

#prilinks div.phone
{
  position: relative;
  float: right;
  color: #888;
  font-size: 13px;
  padding: 0 10px 0 30px;
  background: #edf2f6 url(../img/sales/watch_icon1.gif) 10px center no-repeat;
  right: 2px;
  line-height: 26px;
}

.watchdemo
{
  padding: 0 3px 0 0;
}

.contactus
{
  border-left: 1px solid #CCC;
  padding: 0 0 0 5px;
}

/* Primary Links (Suckerfish/Enhanced) */
#user-name {
  float: left;
  font-size:15px;
  line-height:75px;
  padding:0 0 6px 10px;
  background: transparent url(../images/user_name_bg.gif) bottom left repeat-x;
}

#user-name span {
  margin:0 10px;
}

#user-name a {
  text-decoration: none;
}

.user-append {
  width: 40px;
  float: left;
  height: 75px;
  padding:0 0 6px 0;
  background: transparent url(../images/user_name_trans.gif) bottom left no-repeat;
}

.block-menu {
  background: transparent url(../images/user_name_bg_small.gif) bottom left repeat-x;
}

#primary-links h2 {
  display:none;
}

#primary-links {
}

#primary-links ul {
  bottom: 0;
  right: 6px;
  padding: 0;
  margin: 0 20px 0 0;
  list-style: none;
  z-index: 10;
  text-align: right;
  vertical-align: bottom;
  line-height: 75px;
}

#primary-links li {
  padding: 7px 14px 7px 0;
  margin: 0 3px;
  list-style: none;
  display: inline;
  position: static;
}

#primary-links li a,
#primary-links li span.tabs_text {
  padding: 6px 0 6px 14px;
  margin: 0;
  text-decoration: none;
  font-weight:bold;
  font-family:arial;
  font-size: 16px;
  color: #1d7bbf;
  outline: none;
}

#primary-links li:hover, #primary-links li.sfhover {
  color: #FFFFFF;
  background-image: url(../images/gray_button_end.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#primary-links li.sfhover a, #primary-links li.sfhover a span, 
#primary-links li:hover a span,
#primary-links li:hover a {
  color: #FFFFFF;
  background-image: url(../images/gray_button_long.gif);
  background-position: left bottom;
  background-repeat: no-repeat;
}

#primary-links li.active-trail
{
  background-image: url(../images/blue_button_end.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#primary-links li.active-trail a span,
#primary-links li.active-trail a
{
  color: #FFFFFF;
  background-image: url(../images/blue_button_long.gif);
  background-repeat: no-repeat;
  background-position: left bottom;
}

#prilinks li a.button
{
  height: 30px;
  background: url(../img/sales/blue_button.gif) left top no-repeat;
  width: 121px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#prilinks li a.button span span.line
{
  display: inline;
  padding: 0;
}

#prilinks li a.button:hover span span.line
{
  background: url(../img/w1px.gif) left bottom repeat-x;
}

/* Secondary Links (Non-Suckerfish/Enchanced) */
#secondary-links h2 {
  display:none;
}

#secondary-links {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

#secondary-links, #secondary-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 26px;
  z-index: 10;
  background: #D9D9D9 url(../images/secondary.png) repeat-x;
}

#secondary-links a {
  padding: 0 10px;
  display: block;
  font-weight:900;
  font-size: 12px;
  color: #000000;
  background: #D9D9D9 url(../images/secondary.png) repeat-x;
}

#secondary-links a:hover, #secondary-links a:active {
  color: #E50000;
}

#secondary-links li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}

#prilinks
{
	height: 85px;
	background-color: #fff;
	position: relative;
}

#plogo
{
	position: absolute;
	left: 16px;
	bottom: 15px;
	border: none;
}

/**
 * Messages
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
  padding: 5px;
  margin: 5px 0;
}

.messages * { margin: 0; padding: 0 }

.messages li {
  list-style: none;
  list-style-position: inside;
}

.messages pre {
  border: none;
  background: transparent;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.status li {
  list-style-image: url(../images/list-item.png);
}

div.warning {
  color: #a3a333;
  border-color: #e7f2b8;
}

div.warning li {
  list-style-image: url(../images/list-item-orange.png);
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

div.error li {
  list-style-image: url(../images/list-item-red.png);
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/** Small tweaks to panels */
.panels-flexible-region-inside {
  /*padding-right: .1em;
  padding-left: .1em;*/
}

#main-content-inner .panel-flexible {
  /* Tweak for panels to align on our theme. This is a hack */
/*  margin: 0 -6px;*/
  padding: 0;
/*  width: 103%;*/
}

#main-content-inner .panels-flexible-row {
  width:101%;
}



/* Custom Add */

.main-content{
  background: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-bottom: 25px;
  padding-top: 15px;
  border: 2px solid #D6DFE5;
}

#announcement{
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0 0 10px 0;
  width: 900px;
  border-bottom: 1px solid #EEE;
}

#announcement h1{
  margin: 0;
  padding: 0;
  color: #333;
}

#announcement h1 span{
  padding-left: 5px;
  font-size: 14px;
  color: #921385;
}

.home_top_row .left{
  width: 425px;
}

.home_top_row h4{
  font-size: 24px;
}

.joinInfo{
  color: #41709D;
  font-size: 12px;
  padding-left: 27px;
}

.home_top_row p{
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
}

.home_top_row p .strong{
  font-size: 115%;
  color: #000;
  font-weight: bold;
}

.home_top_row p.bullet{
  padding-left: 45px;
}

.home_top_row p.dollar{
  background: url(../images/icon-dollar-32.png) no-repeat 0 3px;
}

.home_top_row p.complete{
  background: url(../images/icon-featurecomplete-32.png) no-repeat 0 3px;
}

.home_top_row p.heart{
  background: url(../images/icon-heart-32.png) no-repeat 0 0;
}

.home_top_row p.voxeo{
  background: url(../images/icon-voxeo-32.png) no-repeat 0 3px;
}

.home_top_row p.bullet b{
  font-size: 14px;
  color: #5F5F5F;
}

.round-top{
  position: relative;
  width: 975px;
  margin: 0 auto;
  margin-top: 10px;
  height: 15px;
  background: #FFF;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

#sub_nav_hldr{
  position: relative;
  margin: 0 auto;
  height: 335px;
  background: #00AEEF;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  height: 55px;
}

#sub_nav_hldr .page-title{
  position: absolute;
  top: 0;
  left: 15px;
  color: #FFF;
  font-size: 35px;
  line-height: 55px;
  font-weight: bold;
}

.sub_nav{
  position: relative;
  margin: 0 auto;
  height: 55px;
  text-align: left;
}

.sub_nav ul{
  position: absolute;
  top: 16px;
  left: 0;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.sub_nav ul li{
  padding: 0;
  margin: 0 12px;
  display: inline;
}

.sub_nav ul li a{
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  padding: 6px 13px;
}

.sub_nav ul li a.selected{
  color: #231E1F;
  background: #FFF;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.sub_nav ul li a:hover{
  color: #231E1F;
}

.home_top_row .right{
  float: right;
  width: 300px;
}

.col_left,.col_right{
  float: left;
  margin: 0;
  padding: 0;
}

.col_left{
  width: 400px;
}

.col_right{
  float: right;
  margin-left: 30px;
  width: 280px;
}

div.spacer{
  clear: both;
}

.box_white_back,.box_white_top{
  background: #fff;
}

.box_white_left{
  background: transparent url(../images/box_white_left.png) repeat-y;
}

.box_white_right{
  background: transparent url(../images/box_white_right.png) repeat-y;
}

.box_white_bottom{
  background: transparent url(../images/box_white_bottom.png) repeat-x;
}

.box_white_grad_content{
  background: #fff url(../images/box_white_grad_back.gif) bottom repeat-x;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 17px;
}

.box_right{
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #fff url(../images/box_white_grad_back.gif) bottom repeat-x;
  border: 1px solid #e7e7e7;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: left;
}

.box_right h4{
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 5px;
  font-size: 16px;
  text-align: left;
}

.box_right p{
  font-size: 14px;
}

.box_padding_small{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  line-height: 17px;
}

.box_padding_large{
  padding-top: 15px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 1.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #E7E7E7;
  background: #FFF;
}

.demoBox {
    background: none repeat scroll 0 0 #00AEEF;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 16px;
    padding: 10px 0 10px 15px;
}
.demoBox h4.demoHeading {
    color: green;
    font-family: arial,helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px #E0EBEF;
}
.demoBox .contact-method {
    font-size: 13px;
    margin: 4px 0;
}
.demoBox .contact-method .contact, .demoBox .contact-method .contact a {
    color: #FFFFFF;
    font-weight: bold;
}
.demo-separator {
    color: #99D5DF;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

.home_top_row {
    background: url(../images/home_divider.png) no-repeat scroll 430px 0 transparent;
    clear: both;
    color: #999999;
    margin: 0 auto;
    position: relative;
    width: 925px;
}
.title-nav-bar {
    background: none repeat scroll 0 0 #00AEEF;
    border-radius: 10px 10px 0 0;
    height: 70px;
    margin: 0 auto;
    position: relative;
    width: 975px;
}

.home_banner_hldr {
    backg../images../images/logo-icon-huge.png") no-repeat scroll right top #00AEEF;
    border: 2px solid #D6DFE5;
    border-radius: 10px 10px 10px 10px;
    height: 230px;
    margin: 0 auto;
    position: relative;
    width: 975px;
}
.home_banner {
    height: 230px;
    position: absolute;
    right: 0;
    top: 30px;
    width: 605px;
}
.mainPitch {
    color: #0F427F;
    font-family: "Graublau Web Bold";
    font-size: 30px;
    left: 10px;
    line-height: 1.25em;
    position: absolute;
    top: 25px;
}
.home_pitch {
    left: 25px;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 350px;
}
.home_banner_hldr .video {
    background: none repeat scroll 0 0 #000000;
    border-radius: 10px 10px 10px 10px;
    height: 230px;
    padding: 10px 5px;
    position: absolute;
    right: 55px;
    top: 12px;
    width: 353px;
}
.home_banner_hldr .video .overlay {
    background:../images/video-overlay-bg.html") no-repeat scroll center center #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 230px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 355px;
    z-index: 1002;
}
.home_pitch h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
    text-shadow: 0 1px 1px #E0EBEF;
}
.home_pitch p.scoop {
    color: #0F427F;
    font-size: 17px;
    line-height: 1.4em;
    text-align: left;
    text-shadow: 0 1px 1px #E0EBEF;
}
.home_pitch p.join {
    margin-bottom: 0;
    padding-top: 10px;
    text-align: left;
}
.home_pitch p.join a.join-btn {
    background: none repeat scroll 0 0 #11A0FF;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 35px;
    text-decoration: none;
}
.home_pitch p.join a.join-btn:hover {
    background: none repeat scroll 0 0 #0F427F;
}
.home_top_row {
    background: url(../images/home_divider.png) no-repeat scroll 430px 0 transparent;
    clear: both;
    color: #999999;
    margin: 0 auto;
    position: relative;
    width: 700px;
}

