/* Base Styles */
/** { margin:0; padding:0;}*/

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 600px;
  text-align: center; /*Centering for IE */
  line-height: 1.5em;
  color: #27343C;;
  background: #BED9EB url(../images/envelope_bg.gif) repeat-x 0 0;
}

a, a:visited, a:active  {
	color:#1D7BBF;
	text-decoration:underline;
}

/* Reduce field Size in registration and login */
#user-register input.form-text,
#user-profile-form input.form-text,
#user-login-form input.form-text {
  width: 360px;
}

/* Header */

#header-wrapper {
  /*height: 350px;*/
}


#site-logo {
  margin: 0;
  padding: 17px 0 0 0;
  height: 54px;
  float: left;
  border: 0;
}

#site-name {
  padding: 17px 0 0 0;
  margin: 0;
  float: left;
  text-align: right;
}

#site-name a {
  font-size: 54px;
  font-weight:900;
  line-height: 54px;
  color: white;
}

.site-slogan h2 {
  margin: 0;
  padding: 0 0 17px 0;
  font-size: 12px;
  line-height: 12px;
  color: #e4e4e4;
  text-align: right;
}

#search-box {
  text-align: right;
}

#topbanner {
  margin: 0;
  /*height: 300px;*/
  background: #59D3FA;
}

#topbanner p {
  float: right;
  padding: 0;
  margin: 0;
}

/* Misc Elements */

.item-list ul {
  padding: 10px 0;
  margin: 0;
}

.item-list ul li {
  padding: 0;
  margin: 0;
  list-style:none;
  font-size: 0.9em;
}

.sidebox-content .item-list ul {
  padding: 0;
  margin: 0;
}

.submitted {
  font-size: 0.9em;
  font-style:italic;
  color:#999999;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.title a {
  color: #191a1c;
}

.node {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #999999;
}

.node-title {
  clear: both;
  padding: 0 4px;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight: normal;
  border: 1px solid #999999;
  background-image: url(../images/nodetitle.jpg);
  background-position: left bottom;
  background-repeat: repeat-x;
  color: #FFFFFF;
}

.breadcrumb {
  float: left;
  font-size:0.8em;
  font-weight: bold;
}

.block-region {
  padding: 10px;
  border: 2px dashed #333333;
  background:#FFFFFF;
}

/* Tables */
thead th {
  background: #496D78 url(../images/th-bg.png) top left repeat-x;
  border-bottom:3px solid #B3EFD7;
  padding-right:1em;
  text-align:left;
}

tr.even, tr.odd {
  background-color: #EFFFF2;
  border-bottom: none; /* 1px solid #CCCCCC; */
  padding:0.1em 0.6em;
}

th *, tr.even div, tr.odd div {
  margin: 4px 2px;
}

td.is-active {
  background-color: #CFFFDF;
}

tbody {
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
}

/* Others */
.form-submit { 
  background:url(../images/form-submit.gif) 0 0 repeat-x; 
  vertical-align:middle; 
  color:#FFF; 
  font-size:12px; 
  font-weight:bold; 
  border:1px solid #496D78; 
  padding:0px 3px 2px 3px
}

.form-submit:hover { 
  background-position: 0 -55px;
  border-color: #490000;
}

.form-submit:active { 
  background-position: 0 -110px;
  border-color: #496D78;
}

.links {
  font-size: 1.0em;
  font-weight: bold;
}

.more-link {
  font-weight: bold;
}

#edit-name-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#edit-pass-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#search-block-form {
  width: 100%;
  text-align: center;
}

/* Comments */

#comments {
}

#comments .submitted  {
  color: #5C5C5C;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  color: #363636;
  border-top: 3px solid #5C5C5C;
  background: #D9D9D9;
}

.indented {
  margin-left: 0px;
}

/* Aggregator */

.feed-url {
  padding: 10px 0;
}

.feed-updated {
  padding: 0 0 10px 0;
}

/* Book */

.book-navigation ul.menu, .book-navigation ul.menu li {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  background: #e6e6e6;
}

.book-navigation ul.menu {
  padding: 10px;
}

.book-navigation .page-links {
  padding: 10px 10px 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 0px solid;
}

/* Poll Styles */

.poll .title {
  font-size: 1.0em;
  font-weight: bold;
}

/* Forum Styles */

#forum {
  padding: 10px 0;
}

#forum ul.links {
  padding: 0 0 10px 0;
}

#forum ul.links li {
 padding: 0;
 margin: 0;
}

/* Main Forum table */

#forum table {
  width: 100%;
  font-size: 1.0em;
}

#forum td {
  padding: 10px;
}

#forum .odd {
  background: #e0e0e0;
  color: #000000;
}

#forum .even {
  background: #c5c5c5;
  color: #000000;
}

/* Container Styles */

#forum .container {
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight: normal;
  font-size: 1.0em ;
}

#forum .container a {
  color:#ffffff;
  font-weight:bold;
}

#forum .container .name {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

#forum .container .description {
  margin: 0;
  float: right;
  color:#e0e0e0;
}

#forum .name a {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

#forum .description {
  padding: 0;
  margin: 0;
}

#forum tr td.forum {
  background-image:url(../../misc/forum-default.png) 100% 50%;
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 36px;
}

#forum td {
  padding: 10px 0;
  margin: 0;
}

#forum div.indent {
  margin-left: 0;
}

#forum .title {
  font-size: 1.0em;
}

#forum .is-active {
  color: #000000;
}

#forum th img {
  padding-left: 10px;
}

#forum td.icon {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Admin Styles */

table {
  width: 100%;
/*  font-size: 10px;*/
  font-size: 0.9em;
}

td, th {
  padding: 0.5em 1em;
}

div.admin {
}

div.admin .left {
  float: left;
  margin: 0;
  width: 49%;
}

div.admin .right {
  float: left;
  margin: 0;
  width: 49%;
}

/* Typography - Custom styles for use in content creation. */
table caption {
  text-align: left;
  padding: 10px 0px;
  color: #446;
  background: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.0em;
  line-height: 1.5em;
  font-weight: bold;
}

h5 {
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5em;
  color: #E50000;

}

p.alert {
  padding: 10px 15px 10px 54px;
  color: #523A00;
  border-top: 3px solid #FEC201;
  border-bottom: 3px solid #FEC201;
  background: #FFEDB5 url(../images/alert.png) 15px 50% no-repeat;
}

p.info {
  padding: 10px 15px 10px 54px;
  color: #001045;
  border-top: 3px solid #0023A1;
  border-bottom: 3px solid #0023A1;
  background: #BACAFF url(../images/info.png) 15px 50% no-repeat;
}

p.notice {
  padding: 10px 15px 10px 54px;
  color: #363636;
  border-top: 3px solid #5C5C5C;
  border-bottom: 3px solid #5C5C5C;
  background: #D9D9D9 url(../images/modify.png) 15px 50% no-repeat;
}

p.download {
  padding: 10px 15px 10px 54px;
  color: #26420E;
  border-top: 3px solid #5EAA1F;
  border-bottom: 3px solid #5EAA1F;
  background: #DAFFBA url(../images/download.png) 15px 50% no-repeat;
}

blockquote {
  margin: 20px;
  padding-left: 45px;
  background: url(../images/openquote.png) top left no-repeat;
}

blockquote p {
  padding-right: 35px;
  background: url(../images/closequote.png) bottom right no-repeat;
}

pre {
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  border: 1px outset #333333;
  background: #ededed;
}

ul.arrow {
  list-style-image: url(../images/list-item.png);
}

#prilinks div.phone
{
  position: relative;
  float: right;
  color: #888;
  font-size: 13px;
  padding: 0 10px 0 30px;
  background: #edf2f6 url(../img/sales/watch_icon1.gif) 10px center no-repeat;
  right: 2px;
  line-height: 26px;
}

.watchdemo
{
  padding: 0 3px 0 0;
}

.contactus
{
  border-left: 1px solid #CCC;
  padding: 0 0 0 5px;
}

#prilinks li a.button
{
  height: 30px;
  background: url(../img/sales/blue_button.gif) left top no-repeat;
  width: 121px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#prilinks li a.button span span.line
{
  display: inline;
  padding: 0;
}

#prilinks li a.button:hover span span.line
{
  background: url(../img/w1px.gif) left bottom repeat-x;
}

/* Secondary Links (Non-Suckerfish/Enchanced) */
#secondary-links h2 {
  display:none;
}

#secondary-links {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

#secondary-links, #secondary-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 26px;
  z-index: 10;
  background: #D9D9D9 url(../images/secondary.png) repeat-x;
}

#secondary-links a {
  padding: 0 10px;
  display: block;
  font-weight:900;
  font-size: 12px;
  color: #000000;
  background: #D9D9D9 url(../images/secondary.png) repeat-x;
}

#secondary-links a:hover, #secondary-links a:active {
  color: #E50000;
}

#secondary-links li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}

#prilinks
{
	height: 85px;
	background-color: #fff;
	position: relative;
}

#plogo
{
	position: absolute;
	left: 16px;
	bottom: 15px;
	border: none;
}

/** Small tweaks to panels */
.panels-flexible-region-inside {
  /*padding-right: .1em;
  padding-left: .1em;*/
}

#main-content-inner .panel-flexible {
  /* Tweak for panels to align on our theme. This is a hack */
/*  margin: 0 -6px;*/
  padding: 0;
/*  width: 103%;*/
}

#main-content-inner .panels-flexible-row {
  width:101%;
}
