/* Body */
body {
  color: #191a1c;
  background: #000000 repeat-x;
}

a, a:visited, a:active {
  color: #540050;
  text-decoration: none;
}

.region-featured-top-first {
  border: 3px solid #9cadac;
  background: #ffffff;
}

.region-featured-top-second {
  border-color: #a8a3a7;
  background-color: #e9eff4;
  color: white;
}

.region-featured-top-third {
  border-color: #dcdbe3;
  background: #EFEFEF;
}

.sidebox-right h3 {
  color: #164f35
}

.sidebox-right {
  background: #DEDEDE url(../../images/sidebox-right.png) repeat-x bottom;;
}

#topboxes,
.userbox {
  color: #484d51;
  background: #ffffff url(../../images/topboxes-background.png) right;
}

#bottomboxes {
  color: #ffffff; 
}

#bottomboxes a {
  color: #cf62cf;
}

.userbox-bottom-inner {
  background: #000000 url(../../images/bottomboxes-background.png) repeat-x top;
}

#site-name a {
  color: #d00000;
}

.sidebox-content ul.menu li a:hover {
  color: #ffffff;
  background: #151515;
}

.sidebox-content ul.menu li ul li a.active {
  color: #540050;
}

.sidebox-content ul.menu li ul li a.active:hover {
  color: #ffffff;
}

li a.is-active {
  color: #540050;
}

input,
textarea,
select {
  border-color: #496D78;
  background-color: #EBF2F5;
  color: #457589;
}

input.disabled {
  background-color: #ABB2B5;
}

.submitted {
  color:#999999;
}

.title a {
  color: #540050;
}

.node-title {
}

.block-region {
  padding: 10px;
  border: 2px dashed #333333;
  background:#FFFFFF;
}

/* Tables */
thead th {
  background: #496D78 url(../../images/th-bg.png) top left repeat-x;
  border-bottom-color: #B3EFD7;
}

tr.even,
tr.odd {
  background-color: #EFFFF2;
}

td.active {
  background-color: #CFFFDF;
}

tbody {
  border-top-color: #CCCCCC;
  border-bottom-color: #CCCCCC;
}

/* Form submit */
.form-submit {
  background: #111111;
  color: #ffffff;
  border-color: #000000;
}

.links {
  font-size: 1.0em;
  font-weight: bold;
}

.more-link {
  font-weight: bold;
}

#edit-name-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#edit-pass-wrapper.form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

#search-block-form {
  width: 100%;
  text-align: center;
}

/* Comments */
#comments .submitted  {
  color: #5C5C5C;
}

.comment {
  color: #363636;
  border-top-color: #5C5C5C;
  background: #D9D9D9;
}

/* Book */
.book-navigation ul.menu, .book-navigation ul.menu li {
  background: #e6e6e6;
}

p.alert {
  color: #523A00;
  border-top-color: #FEC201;
  border-bottom-color: #FEC201;
  background: #FFEDB5 url(../../images/alert.png) 15px 50% no-repeat;
}

p.info {
  color: #001045;
  border-top-color: #0023A1;
  border-bottom-color: #0023A1;
  background: #BACAFF url(../../images/info.png) 15px 50% no-repeat;
}

p.notice {
  padding: 10px 15px 10px 54px;
  color: #363636;
  border-top-color: #5C5C5C;
  border-bottom-color: #5C5C5C;
  background: #D9D9D9 url(../../images/modify.png) 15px 50% no-repeat;
}

p.download {
  padding: 10px 15px 10px 54px;
  color: #26420E;
  border-top-color: #5EAA1F;
  border-bottom-color: #5EAA1F;
  background: #DAFFBA url(../../images/download.png) 15px 50% no-repeat;
}

/* Primary Links (Suckerish/Enchanced) */
#primary-links h2 {
  display:none;
}

#primary-links, #primary-links ul {
  background: #000000 url(../../images/primary-green.png) repeat-x;
}

#primary-links a {
  color: #ffffff;
  background: #000000 url(../../images/primary-green.png) repeat-x;
}

#primary-links a:hover,
#primary-links a:active {
  color: #222a06;
}

#primary-links li ul li a {
  background: #b2dc26;
}

#primary-links li ul li a:hover {
  background: #e0e0e0;
}

#primary-links ul li ul li.expanded a, 
#primary-links ul li ul li ul li.expanded a, 
#primary-links ul li ul li ul li ul li.expanded a {
	background: #b2dc26 url(../../images/menu-bullet-green.png) 100% 50% no-repeat;
}

#primary-links ul li ul li.expanded ul a, 
#primary-links ul li ul li ul li.expanded ul a, 
#primary-links ul li ul li ul li ul li.expanded ul a {
	background: #b2dc26;
}

#primary-links ul li ul li.expanded a:hover, 
#primary-links ul li ul li ul li.expanded a:hover, 
#primary-links ul li ul li ul li ul li.expanded a:hover {
	background: #e0e0e0 url(../../images/menu-bullet-green.png) 100% 50% no-repeat;
}

#primary-links ul li ul li.expanded ul a:hover, #primary-links ul li ul li ul li.expanded ul a:hover, #primary-links ul li ul li ul li ul li.expanded ul a:hover {
	background: #e0e0e0;
}

#primary-links ul.menu li ul a { /* For IE 6 */
  width: 180px;
}

/* Secondary Links (Non-Suckerfish/Enchanced) */
#secondary-links {
  border-left-color: #000000;
  border-right-color: #000000;
}

#secondary-links, #secondary-links ul {
  background: #D9D9D9 url(../../images/secondary.png) repeat-x;
}

#secondary-links a {
  color: #000000;
  background: #D9D9D9 url(../../images/secondary.png) repeat-x;
}

#secondary-links a:hover, #secondary-links a:active {
  color: #b04eac;
}
