/**
 * IE specific layout styles.
 */

.page-content .region-content {
  overflow: hidden; /* Fix for collapsible fieldsets in IE */
}

/* Primary Links (Suckerish/Enchanced) */
.block-menu {
  padding:0 0 6px 0;
}

#primary-links li {
  padding: 0 10px;
}

body {
  /*text-align: center; /!*Centering for IE *!/*/
}