/* Styles for login and registration pages */
.main-content.user-login,
.main-content.user-register {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  padding: 3rem 0 8rem;
  margin: 2rem auto;
  max-width: 304px;
  right: 0;
}

.main-content.user-register {
  max-width: 540px;
}

.main-content.user-login .region-content,
.main-content.user-register .region-content {
  padding: 0;
}

.main-content.user-login .region-header {
  margin-bottom: 5rem;
}

.main-content.user-login section#block-pluraltheme-branding img {
  width: 100%;
}
