@media all and (max-width: 750px) {
  .summary-pane,
  .compose-pane,
  .compose-pane input[type="text"] {
    width: 100%;
  }
}

/* SUMMARY DISPLAY */
.summary-block {
  border: none;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; 
}

.summary-block .title {
  background:#567782 url(../images/summary-blue-bg.gif) repeat-x scroll 0 0;
  color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
  padding:4px 10px;
}

.summary-block .item {
  border-bottom: 1px solid #ddd;
  color:#5A5B5B;
  float:none;
  padding:7px 10px 7px 10px;
}

.summary-block .form-item {
  margin: 0;
}

.summary-block .item-title {
  float: left;
  text-align: left;
}

.summary-block .item-value {
  float: right;
  text-align: right;
  padding-right: 0;
  font-weight: bold;
}

.div-clear {
  float: none;
  clear: both;
  font-size: 1px;
  line-height: 1px;
}
/* END OF SUMMARY DISPLAY */
