/**
 * Styles for blocks in the sidebars.
 */
.region-sidebar-first > * h2 {
  padding: 0 0 10px 0;
  /*font-size: 1.1em;*/
  /*line-height: 1.1em;*/
}

.region-sidebar-first > * {
  /*border: 1px solid #555;*/
  background-color: rgba(255, 255, 255, .075);
  box-shadow: 1px 1px 3px 0 #555;
}

.region-sidebar-second > * h2 {
  padding: 0 0 10px 0;
  /*font-size: 1.1em;*/
  /*line-height: 1.1em;*/
}

.region-sidebar-second > * {
  border: 1px solid #000000;
  background: #DEDEDE;
}

.region-sidebar-first > *,
.region-sidebar-second > * {
  margin: 10px 0;
  padding: 10px;
}

/* Text field sizes in sidebars. */
.region-sidebar-first input.form-text,
.region-sidebar-second input.form-text {
  width: 100%;
}

/** Main content block */
#block-pluraltheme-content.block {
  margin: 10px 0;
}

/** Ad Blocks on login page *//*
.adblock2 {
  padding-left: 2rem;
  padding-right: 2rem;
}*/

.adblock2 > div {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
