/* Book */

.book-navigation ul.menu, .book-navigation ul.menu li {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  background: #e6e6e6;
}

.book-navigation ul.menu {
  padding: 10px;
}

.book-navigation .page-links {
  padding: 10px 10px 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 0px solid;
}
