/* Form elements */
input[type="radio"],
input[type="checkbox"] {
  border: none;
  background: none;
}

input.disabled {
  background-color: #ABB2B5;
}

.form-item input.error,
.form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

.form-item .description {
  margin: 2px 0;
  clear: both;
}

.form-submit {
  vertical-align: middle;
  color: #FFF;
  font-weight: bold;
  border: 1px solid #007095;
  padding: .55rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  width: 100%;
  background: #1A659B;
}

.form-submit.button {
  margin-left: 0;
  margin-right: 0;
}


/* Styles for login and registration pages */
.main-content.user-login,
.main-content.user-register {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);/*
  padding: 3rem 0 8rem;
  padding: 5rem 4rem 8rem;
  margin: 0 auto 2em;
  max-width: 304px;*/
  right: 0;
  margin: 0 auto 2em;
}
.main-content.user-register {
  padding: 2rem 2rem 6rem;
}
.main-content.user-login {
  padding: 2rem 2rem 6rem;	
}

/*.main-content.user-register {
  max-width: 540px;
}*/

.main-content.user-login .region-content,
.main-content.user-register .region-content {
  padding: 0;
}

.main-content.user-login .region-header {
  margin-bottom: 5rem;
}

.main-content.user-login section#block-pluraltheme-branding img {
  width: 100%;
}
