/* Form elements */
input[type="radio"],
input[type="checkbox"] {
  border: none;
  background: none;
}

input.disabled {
  background-color: #ABB2B5;
}

.form-item input.error,
.form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

.form-item .description {
  margin: 2px 0;
  clear: both;
}

.form-submit {
  vertical-align: middle;
  color: #FFF;
  font-weight: bold;
  border: 1px solid #007095;
  padding: .55rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  width: 100%;
}

.form-submit.button {
  margin-left: 0;
  margin-right: 0;
}
