/* Forum Styles */
#forum {
  padding: 10px 0;
}

#forum ul.links {
  padding: 0 0 10px 0;
}

#forum ul.links li {
  padding: 0;
  margin: 0;
}

/* Main Forum table */
#forum table {
  width: 100%;
  font-size: 1.0em;
}

#forum td {
  padding: 10px;
}

#forum .odd {
  background: #e0e0e0;
  color: #000000;
}

#forum .even {
  background: #c5c5c5;
  color: #000000;
}

/* Container Styles */
#forum .container {
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight: normal;
  font-size: 1.0em ;
}

#forum .container a {
  color:#ffffff;
  font-weight:bold;
}

#forum .container .name {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

#forum .container .description {
  margin: 0;
  float: right;
  color:#e0e0e0;
}

#forum .name a {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

#forum .description {
  padding: 0;
  margin: 0;
}

#forum tr td.forum {
  background: url(../../misc/forum-default.png) no-repeat 10px;
  background-position-x: 100%;
  background-position-y: 50%;
  padding-left: 36px;
}

#forum td {
  padding: 10px 0;
  margin: 0;
}

#forum div.indent {
  margin-left: 0;
}

#forum .title {
  font-size: 1.0em;
}

#forum .is-active {
  color: #000000;
}

#forum th img {
  padding-left: 10px;
}

#forum td.icon {
  padding: 0;
  margin: 0;
  text-align: center;
}
