.joinInfo {
  color: #41709D;
}

.home-top-row p .strong {
  color: #000;
}

.demoBox {
  background: none repeat scroll 0 0 #00AEEF;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 16px;
  padding: 10px 0 10px 15px;
}

.demoBox h4.demoHeading {
  color: green;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 1px #E0EBEF;
}

.demoBox .contact-method {
  font-size: 13px;
  margin: 4px 0;
}

.demoBox .contact-method .contact, .demoBox .contact-method .contact a {
  color: #FFFFFF;
  font-weight: bold;
}

.demo-separator {
  color: #99D5DF;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding-left: 3px;
  padding-right: 3px;
}

.home-top-row {
  background: url(../../images/home_divider.png) no-repeat scroll 430px 0 transparent;
  clear: both;
  color: #999999;
  margin: 0 auto;
  position: relative;
  width: 925px;
}

.title-nav-bar {
  background: none repeat scroll 0 0 #00AEEF;
  border-radius: 10px 10px 0 0;
  height: 70px;
  margin: 0 auto;
  position: relative;
  width: 975px;
}

.home-banner-hldr {
  background: url('../../images/logo-icon-huge.png') no-repeat scroll right top #00AEEF;
  border: 2px solid #D6DFE5;
  border-radius: 10px 10px 10px 10px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  width: 975px;
}

.home-banner {
  height: 230px;
  position: absolute;
  right: 0;
  top: 30px;
  width: 605px;
}

.mainPitch {
  color: #0F427F;
  font-family: "Graublau Web Bold", sans-serif;
  font-size: 30px;
  left: 10px;
  line-height: 1.25em;
  position: absolute;
  top: 25px;
}

.home-pitch {
  left: 25px;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 350px;
}

.home-banner-hldr .video {
  background: none repeat scroll 0 0 #000000;
  border-radius: 10px 10px 10px 10px;
  height: 230px;
  padding: 10px 5px;
  position: absolute;
  right: 55px;
  top: 12px;
  width: 353px;
}

.home-banner-hldr .video .overlay {
  background: url("../../images/video-overlay-bg.html") no-repeat scroll center center #000000;
  border-radius: 10px;
  cursor: pointer;
  height: 230px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 355px;
  z-index: 1002;
}

.home-pitch h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  text-shadow: 0 1px 1px #E0EBEF;
}

.home-pitch p.scoop {
  color: #0F427F;
  font-size: 17px;
  line-height: 1.4em;
  text-align: left;
  text-shadow: 0 1px 1px #E0EBEF;
}

.home-pitch p.join {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: left;
}

.home-pitch p.join a.join-btn {
  background: none repeat scroll 0 0 #11A0FF;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 35px;
  text-decoration: none;
}

.home-pitch p.join a.join-btn:hover {
  background: none repeat scroll 0 0 #0F427F;
}

.home-top-row {
  background: url(../../images/home_divider.png) no-repeat scroll 430px 0 transparent;
  clear: both;
  color: #999999;
  margin: 0 auto;
  position: relative;
  width: 700px;
}

/* This is for bootstrap front page */
.fa-color {
  color: #0678be;
}

.region-section-two {
  /*
    background-color: #ffffff;
    margin-top:-30px;*/
  padding: 20px;
  padding: 4em;
}

.region-section-three {
  /*
      background: #e44d26;
      color: #fff; */
  padding: 4em 0;
  font-size: 20px;
}

.region-section-three p {
  line-height: 1.5em;
}

.slogan {
  text-align: center;
}

.slogan h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

.slogan p {
  font-size: 20px;
}

.slogan a {
  margin-top: 20px;
}

.feature-list li {
  list-style: none;
  font-size: 18px;
  line-height: 2em;
}

.region-section-four {
  /*
    background: #0383c0;
    color: #fff;
    padding: 30px ;
    min-height: 300px;
    margin-top: -50px;*/
}

/*
section.block-userlogin-2 {
  padding: 10px;
  margin-top: -50px;
}*/
section.block-userlogin-2 ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

section.block-userlogin-2 ul li a {
  color: #fff;
}

/*
section.block-userlogin-2 .form-submit{
float: left;
margin-right: 15px;
}
*/
.region-section-four h2 {
  font-size: 24px;
  margin-bottom: 10px;

}

.price-section {
  min-height: 300px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.price-section h3 {
  font-size: 24px;
  text-align: center;

}

.region-section-five {
  margin-right: 10px

}

.three-piece {
  color: #0383C0;
  /*width: 32.6%;*/
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  min-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*margin-left: 10px;*/

}

.three-piece + .three-piece {
  margin-left: 10px;
}

@media only screen and (min-width: 960px) {
  /* Styles */
  .three-piece {
    width: 32%;
  }
}

.region-section-six {
}

.region-section-six table {
  margin-right: auto;
  margin-left: auto;
}

.region-section-eight {
  background-color: #7e7e7e;
  text-align: center;
  color: #ffffff;
}

.region-section-eight h3 {
  font-size: 24px;
  padding: 10px;
}

/*.region-section-five{*/
/*/!*background: #f4f4f4;*!/*/
/*color: #000000;*/
/*padding-top: 20px;*/
/*text-align: center;*/
/*min-height: 350px;*/
/*}*/

/*.region-section-five h2{*/
/*color: #0383C0;*/
/*font-size: 24px;*/
/*font-weight: 400;*/
/*}*/

/*.region-section-five p{*/
/*color: #0383C0;*/
/*/!*font-size: 24px;*!/*/
/*/!*font-weight: 400;*!/*/
/*}*/
/*.table{*/
/*/!*background: #f4f4f4;*!/*/
/*color: blue;*/
/*text-align: center;*/
/*border: solid;*/
/*border: 1px;*/
/*border-color: #000000;*/

/*}*/

/*.region-section-six{*/
/*background: #F4F4F4;*/
/*color: #000000;*/
/*padding-top: 20px;*/
/*padding-bottom: 20px;*/
/*min-height: 300px;*/
/*/!*text-align: center;*!/*/
/*}*/

/*.region-section-six p>span{*/
/*color: #ffffff;*/
/*}*/
/*.leftside{*/
/*text-align: left;*/
/*background: #00B0F7;*/
/*font-size: 20px;*/
/*line-height: 2em;*/
/*min-height: 300px;*/
/*}*/

/*.leftside h3{*/
/*color: #ffffff;*/
/*text-align: center;*/
/*padding: 5px;*/
/*font-size: 28px;*/
/*}*/

/*.rightside{*/
/*text-align: center;*/
/*font-size: 28px;*/
/*line-height: 2em;*/
/*background: #0383C0;*/
/*min-height: 300px;*/
/*}*/

/*.rightside h3{*/
/*color: #ffffff;*/
/*padding: 5px;*/
/*font-size: 28px;*/
/*}*/
/*.rightside p {*/
/*text-align: left;*/
/*}*/
/*.region-section-eight{*/
/*background: #7e7e7e;*/
/*color: #000000;*/
/*padding: 20px;*/
/*text-align: center;*/
/*}*/

/*.region-section-eight h3{*/
/*color: #ffffff;*/
/*font-size: 28px;*/
/*}*/

/*.region-section-eight p{*/
/*font-size: 18px;*/
/*line-height: 1em;*/
/*}*/

/*.region-section-eight p>span{*/
/*color: #ffffff;*/
/*}*/

.banner {
  min-height: 450px;
}

.banner {
  /*
    background-image: url("../../images/pluralbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
  background-color: #0090cf;
  background-position: 50% 50%;
  height: 450px;
}

.banner-region {
  vertical-align: middle;
  color: #fff;
  min-height: 220px;
  padding-top: 100px;
}

.banner-region h1 {
  font-size: 40px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

.banner-region h4 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.banner-region .cover-wrap .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.33333em;
  margin: 0;
  max-width: 240px;
  padding: 0.5em 0 0.6em;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
  min-height: 25px;
  min-width: 200px;
  /*padding: 6px 30px 7px;*/
  /*line-height: 25px;*/
  /*font-size: 13px;*/
  margin-left: 25px;
}

.banner-region .cover-wrap .btn {
}

.banner-region .cover-wrap a.btn {
  margin-left: 15px;
  margin-right: 15px;
}

.banner-region .cover-wrap .btn-outline {
  background: transparent;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 0;
}

.banner-region .cover-wrap .btn.primary-cta {
  /*background: rgba(155,194,60,1);*/
  background: #ff3800;
  color: #fff;
  font-weight: 700;
}

.banner-region .cover-wrap .btn > span {
  display: inline-block;
  position: relative;
  width: auto;
  padding-left: 1.875em;
  padding-right: 1.875em
}

/** User login form on front page */
.banner-region .cover-wrap .block-userlogin .btn {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
  display: block;
  margin: 0 auto;
  padding: 0.3em 0 0.4em;
}

.banner-region .cover-wrap .block-userlogin .btn:hover {
  color: rgb(0, 144, 207);
  background-color: #ffffff;
}

.banner-region .cover-wrap .block-userlogin input.form-text {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.banner-region .cover-wrap .block-userlogin {
  text-align: center;
}

/*media querries*/
@media only screen and (min-width: 480px) {
  .banner-region .cover-wrap .btn {
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0.7em 0 0.8em;
  }
}

@media only screen and (min-width: 480px) {
  .banner-region .cover-wrap .btn span {
    display: block;
  }
}

.navbar-fixed-top {
  top: inherit;
  border-width: 0 0 1px;
}

.foot-imagebg .btn {
  height: 45px;
  font-size: 20px;
}

@media (max-width: 990px) {
  .foot-imagebg .btn {
    margin-bottom: 10px;
  }

  .region-section-four {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 600px;
  }
}

@media (max-width: 430px) {
  .region-section-four {
    padding: 5px 0 5px 0;
  }

  .jumbotron {
    min-height: 300px;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .slogan h1 {
    font-size: 28px;
  }

  .slogan p {
    font-size: 16px;
  }

  .region-section-three {
    padding: 10px 5px 10px 5px;
  }

}

.home-highlights {
  background-image: url(../../images/bg-blue-blueprint.jpg);
  background-color: #0678be;
  background-repeat: repeat;
  background-position: bottom left 9%, top left;
}

.home-highlights p {
  color: #fff;
}

.home-highlights p a {
  color: yellow;
}

.home-highlights h2.block-title {
  color: orange;
  font-weight: 700;
}

/* footer styles here */

#footer {
  /*
      background: #0e0e0e;
      border-top: 4px solid #0e0e0e;
      padding: 70px 0 0;
      position: relative;
      clear: both;*/
  font-size: 0.9em;
  padding: 20px 0 10px 0;
}

#footer.site-footer {
  /*
    padding-top: 60px;
  background: #FFF;*/
  border-top: 1px solid #DDD;
}

#footer.site-footer .nav > li > a {
  padding: 5px 12px;
}

#footer.site-footer a {
  color: #0088cc !important;
}

#footer .narrow-phone {
  /*
      text-align: right;*/
  margin: -2px 0 0 0;
}

#footer h5 {
  color: #CCC !important;
}

h5.short, h6.short {
  margin-bottom: 9px;
}

h5 {
  color: #CCC;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0;
  text-transform: uppercase;
}

#footer.site-footer .phone {
  color: #777 !important;
}

#footer .narrow-phone .phone {
  font-size: 16px;
  padding-bottom: 0;
  margin-top: -13px;
}

#footer .footer-copyright {
  /*
      background: #060606;*/
  border-top: 4px solid #060606;
  margin-top: 40px;
  padding: 30px 0 10px;

  margin-top: 15px;
  background: #FFF;
  border-top: 1px solid #DDD;
}

#footer .social-icons {
  margin-top: 18px;
}

#footer ul.social-icons li {
  display: inline-block;
  margin: 0 8px;
}

#footer ul.social-icons {
  list-style: none;
}

section.section--even {
  padding-top: 8.125em;
  padding-bottom: 8.125em;
}

[data-overlay] {
  position: relative;
}

.foot-imagebg {
  position: relative;
}

[data-overlay]::before {
  position: absolute;
  content: '';
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay="8"]::before {
  opacity: 0.8;
}

/*
.foot-imagebg {
	visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); 
	opacity: 1;
	-webkit-transition: -webkit-transform 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s; 
	transition: transform 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
}
*/
.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  opacity: 0;
  background: #232323;
}

.background-image-holder {
  background-color: transparent;
  background-image: url('../../images/hero11.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: initial;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  opacity: 1;
}

[data-overlay] :not(.container):not(.background-image-holder) {
  z-index: 2;
}

.foot-imagebg h6, .foot-imagebg a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2.36363636363636em;
  color: #fff;
}

.foot-imagebg p {
  color: #fff;
  opacity: .9;
}

.lead {
  margin-bottom: 1.1304347826087em;
  font-weight: 400;
}

.lead {
  font-size: 1.4375em;
  line-height: 1.69565217em;
}

.foot-imagebg .btn:not(.btn--primary) {
  border-color: rgba(255, 255, 255, 0.1);
}

.foot-imagebg .btn {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 100px;
  padding-top: 0.54166667em;
  padding-bottom: 0.65em;
  padding-right: 3.25em;
  padding-left: 3.25em;
  border: 1px solid #232323;
  border-width: 2px;
  font-size: inherit;
  line-height: 1.625em;
  text-transform: uppercase;
}

.foot-imagebg .btn .btn__text, .btn i {
  /*
      color: #343434;*/
  border-color: #343434;
  font-weight: 400;
  font-size: 0.625em;
}

.foot-imagebg .btn--sm {
  padding-top: 0.36111111em;
  padding-bottom: 0.43333333em;
  padding-right: 2.16666667em;
  padding-left: 2.16666667em;
}

/* ---------------------------------- */
/* Image Edge
------------------------------------- */
.edge-bg {
  background-image: url(../../images/p_bg.jpg);
}

.image-edge {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  /*
    margin: 35px 0 0 0;*/
}

.panel-left {
  display: block;
  padding: 65px 0 55px 0;
  min-height: 500px;
}

.panel-left h3.headline {
  width: 100%;
  display: block;
  margin-top: 0;
}

/* Photo */
.edge-bg {
  position: absolute;
  width: 50%;
  top: 0;
  right: -25px;
  height: 100%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.edge-bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.1);
}

@media (max-width: 767px) {
  .edge-bg {
    position: relative;
    height: 400px;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
  }
}

header#idz-header {
  background: #222;
}

#top-header {
  background: #181818;
  border-bottom: 1px solid #292929;
  color: #a4a4a4;
}

#top-phone {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-right: 1px solid #292929;
  padding: 8px 20px 10px 0;
}

#top-phone + #top-social {
  margin-left: 20px;
}

#top-social {
  margin-left: 0px;
  padding: 8px 20px 10px 0;
}

#top-phone, #top-social {
  float: left;
}

ul.social-icon li {
  display: inline-block;
  margin: 0 8px;
}

ul.header-social {
  list-style: none;
}

#top-social ul li a {
  font-size: 15px;
  color: #a4a4a4;
}

#top-button {
  padding-top: 8px;
  float: right;
}

#top-button > ul {
  display: inline-block;
}

#top-social ul, #top-button ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.region-navigation {
  float: right;
}

.navbar-nav > li {
  border-right: 1px solid #292929;
}

.navbar-nav > li > a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  color: #444;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar-nav > li > a {
  height: 102px;
  padding: 33px 25px 37px;
  line-height: 32px;
  color: #b3b3b3;
  font-size: 13px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-nav > li.is-active > a {
  background-color: #f5f5f5;
  color: #444;
}

.navbar-nav > li.is-active > a, .navbar-nav > li.current_page_ancestor > a, .navbar-nav > li.current-menu-parent > a {
  background-color: #181818;
  color: #fff;
}

.navbar-nav > li:hover > a, .navbar-nav > li > a:focus {
  background-color: #181818;
  color: #fff
}

/* [ 3. mobile landscape ] */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  #idz-header {
    min-height: 162px;
  }

  #top-header {
    min-height: 44px
  }

  #top-phone {
    border-right: none !important
  }

  #top-social {
    float: right;
    padding-right: 0
  }

  #logo {
    width: 162px !important;
    margin: 30px auto 38px !important;
  }

  #idz-ui-dc-results {
    max-width: 360px
  }

  #pagetitle-search {
    right: -31%;
  }
}

/* [ 4. mobile potrait ] */
@media only screen and (max-width: 479px) {
  #idz-header {
    min-height: 162px;
  }

  #top-header {
    min-height: 44px
  }

  #top-phone {
    border-right: none !important;
    text-align: center;
    float: none;
  }

  #top-social {
    display: none
  }

  #logo {
    width: 162px !important;
    margin: 30px auto 38px !important;
  }

  .navbar-brand {
    width: 50%;
  }
}

.navbar {
  margin-bottom: 0;
}

#top-button ul li a, #top-button ul li.login button, #top-button ul li button {
  font: 12px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #616161;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 9px;
  padding: 5px 17px 6px 15px;
  color: #ececec;
}

#top-button ul li a:hover {
  text-decoration: none;
}

#top-button ul li a i {
  font-size: 13px;
  margin-right: 8px;
  margin-left: 0;
}

.banner .fsizeh1 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.33333em;
  margin-bottom: 0.83333em
}

.banner .fsizeh1.strong,
.banner .fsizeh1 span.strong,
.banner .fsizeh1.semibold,
.banner .fsizeh1 span.semibold,
.banner .fsizeh1 b,
.banner .fsizeh1 strong {
  font-weight: 600
}

.banner .fsizeh1:last-child {
  margin-bottom: 0.83333em
}

@media (min-width: 481px) {
  .banner .fsizeh1 {
    /*
            font-size: 2.125em;*/
    font-weight: 100;
    letter-spacing: 0;
    line-height: 1.17647em;
    margin-bottom: 0.58824em
  }

  .banner .fsizeh1:last-child {
    margin-bottom: 0.58824em
  }
}

@media (min-width: 768px) {
  .banner .fsizeh1 {
    font-size: 2.875em;
    font-size: 2.125em;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 1.21739em;
    margin-bottom: 0.43478em
  }

  .banner .fsizeh1:last-child {
    margin-bottom: 0.43478em
  }
}

@media (min-width: 1025px) {
  .banner .fsizeh1 {
    font-size: 3.875em;
    font-size: 2.875em;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 1.16129em;
    margin-bottom: 0.32258em
  }

  .banner .fsizeh1:last-child {
    margin-bottom: 0.32258em
  }
}

.banner .fsizeh3 {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.4em;
  margin-bottom: 1em
}

.banner .fsizeh3.strong,
.banner .fsizeh3 span.strong,
.banner .fsizeh3.semibold,
.banner .fsizeh3 span.semibold,
.banner .fsizeh3 b,
.banner .fsizeh3 strong {
  font-weight: 400
}

.banner .fsizeh3:last-child {
  margin-bottom: 1em
}

@media (min-width: 481px) {
  .banner .fsizeh3 {
    /*
            font-size: 1.5em;*/
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.33333em;
    margin-bottom: 0.83333em
  }

  .banner .fsizeh3.strong,
  .banner .fsizeh3 span.strong,
  .banner .fsizeh3.semibold,
  .banner .fsizeh3 span.semibold,
  .banner .fsizeh3 b,
  .banner .fsizeh3 strong {
    font-weight: 400
  }

  .banner .fsizeh3:last-child {
    margin-bottom: 0.83333em
  }
}

@media (min-width: 1025px) {
  .banner .fsizeh3 {
    font-size: 2.125em;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 1.17647em;
    margin-bottom: 0.58824em
  }

  .banner .fsizeh3:last-child {
    margin-bottom: 0.58824em
  }
}

.call-to-action {
  margin-bottom: 30px;
}

.sfwBtnWrapper {
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 480px) {
  .btn.secondary-cta {
    border-color: #FFF;
    color: #FFF !important;
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .banner-region .cover-wrap .btn {
    max-width: none;
    width: auto
  }
}
