.joinInfo {
  color: #41709D;
}

.home-top-row p .strong{
  color: #000;
}

.demoBox {
  background: none repeat scroll 0 0 #00AEEF;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 16px;
  padding: 10px 0 10px 15px;
}
.demoBox h4.demoHeading {
  color: green;
  font-family: arial,helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 1px #E0EBEF;
}
.demoBox .contact-method {
  font-size: 13px;
  margin: 4px 0;
}
.demoBox .contact-method .contact, .demoBox .contact-method .contact a {
  color: #FFFFFF;
  font-weight: bold;
}
.demo-separator {
  color: #99D5DF;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding-left: 3px;
  padding-right: 3px;
}

.home-top-row {
  background: url(../../images/home_divider.png) no-repeat scroll 430px 0 transparent;
  clear: both;
  color: #999999;
  margin: 0 auto;
  position: relative;
  width: 925px;
}
.title-nav-bar {
  background: none repeat scroll 0 0 #00AEEF;
  border-radius: 10px 10px 0 0;
  height: 70px;
  margin: 0 auto;
  position: relative;
  width: 975px;
}

.home-banner-hldr {
  background: url('../../images/logo-icon-huge.png') no-repeat scroll right top #00AEEF;
  border: 2px solid #D6DFE5;
  border-radius: 10px 10px 10px 10px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  width: 975px;
}

.home-banner {
  height: 230px;
  position: absolute;
  right: 0;
  top: 30px;
  width: 605px;
}
.mainPitch {
  color: #0F427F;
  font-family: "Graublau Web Bold", sans-serif;
  font-size: 30px;
  left: 10px;
  line-height: 1.25em;
  position: absolute;
  top: 25px;
}
.home-pitch {
  left: 25px;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 350px;
}
.home-banner-hldr .video {
  background: none repeat scroll 0 0 #000000;
  border-radius: 10px 10px 10px 10px;
  height: 230px;
  padding: 10px 5px;
  position: absolute;
  right: 55px;
  top: 12px;
  width: 353px;
}
.home-banner-hldr .video .overlay {
  background: url("../../images/video-overlay-bg.html") no-repeat scroll center center #000000;
  border-radius: 10px;
  cursor: pointer;
  height: 230px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 355px;
  z-index: 1002;
}
.home-pitch h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  text-shadow: 0 1px 1px #E0EBEF;
}
.home-pitch p.scoop {
  color: #0F427F;
  font-size: 17px;
  line-height: 1.4em;
  text-align: left;
  text-shadow: 0 1px 1px #E0EBEF;
}
.home-pitch p.join {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: left;
}
.home-pitch p.join a.join-btn {
  background: none repeat scroll 0 0 #11A0FF;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 35px;
  text-decoration: none;
}
.home-pitch p.join a.join-btn:hover {
  background: none repeat scroll 0 0 #0F427F;
}
.home-top-row {
  background: url(../../images/home_divider.png) no-repeat scroll 430px 0 transparent;
  clear: both;
  color: #999999;
  margin: 0 auto;
  position: relative;
  width: 700px;
}
