/**
 * Side bar menus.
 */
.layout-sidebar ul.menu,
.layout-sidebar ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout-sidebar ul.menu li {
  margin-left: 0;
}

.layout-sidebar ul.menu li a {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.layout-sidebar ul.menu li a:hover {
  color: #ffffff;
  font-weight: bold;
  background: #151515;
}

.layout-sidebar ul.menu li a {
  font-weight: bold;
}

.layout-sidebar ul.menu li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout-sidebar ul.menu li ul li {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
}

.layout-sidebar ul.menu li ul li a {
  font-weight: normal;
}

.layout-sidebar ul.menu li ul li a.is-active {
  color: #e50000;
  font-weight: bold;
}

.layout-sidebar ul.menu li ul li a.is-active:hover {
  color: #ffffff;
  font-weight: bold;
}

li a.is-active {
  font-weight: bold;
  color: #1D7BBF;
}
