/**
 * Local tasks.
 */
 
 /*
nav.tabs {
  margin: 5px -27px;
  padding: 0 26px;
}

nav.tabs:after {
  content: '';
  clear: both;
  display: table;
}

ul.primary,
ul.secondary,
ul.primary li,
ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR *//*
}

ul.secondary {
  clear: both;
  text-align: left; /* LTR */
 /* border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}

h2.with-tabs {
  float: left; /* LTR */
 /* margin: 0 2em 0 0; /* LTR */
/*  padding: 0;
}

ul.primary li a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.primary li.is-active a,
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li a:visited,
ul.secondary li.is-active a {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
 /* height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
  display: inline-block;
}

ul.primary li a:hover,
ul.primary li.is-active a,
ul.primary li.is-active a:link,
ul.primary li.is-active a:visited,
ul.secondary li a:hover,
ul.secondary li.is-active a,
ul.secondary li.is-active a:link,
ul.secondary li.is-active a:visited {
  background: url(../../images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}

ul.primary li.is-active a,
ul.secondary li.is-active a {
  font-weight: bold;
}

*/