/**
 * Messages
 */
.messages * {
  margin: 0 0 0 8px;
  padding: 0;
}

.messages li {
  list-style: none inside none;
}

.messages pre {
  border: none;
  background: transparent;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.status li {
  list-style-image: url(../../images/list-item.png);
}

div.warning {
  color: #a3a333;
  border-color: #e7f2b8;
}

div.warning li {
  list-style-image: url(../../images/list-item-orange.png);
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

div.error li {
  list-style-image: url(../../images/list-item-red.png);
}

.messages + .messages {
  margin-top: 0.5em;
}
