.page-title {
  clear: both;
  padding: 0 4px;
  margin: 0;
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: normal;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.title a {
  color: #191a1c;
}

