/** Small tweaks to panels */
.panels-flexible-region-inside {
  /*padding-right: .1em;
  padding-left: .1em;*/
}

.layout-content .panel-flexible {
  /* Tweak for panels to align on our theme. This is a hack */
  /*  margin: 0 -6px;*/
  padding: 0;
  /*  width: 103%;*/
}

.layout-content .panels-flexible-row {
  width:101%;
}
