h1 h2 h3{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.jumbotron h1{
  font-size: 55px;
}
.fa-color{
  color: #0383c0;
}
.feature-list li{
  list-style: none;
  font-size: 18px;
  line-height: 2em;
}

.panel-region, .home-highlights {
	padding: 4em 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class*='col-']:not(:first-child),
.row.no-gutter > [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
