<footer id="footer" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <ul class="nav nav-pills">
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social">
          <ul class="social-icons">
            <li><a href="http://twitter.com/pluralsms"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="http://www.facebook.com/pluralsms"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="skype:Plural.Support?call" title="Plural Support" class="skype-bgcolor" target="_blank"><i class="fa fa-skype"></i></a>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="narrow-phone text-center">
          <h5 class="short">Contact Us</h5>
          <span class="phone">(+234) 703-456-789</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center center-block">
            <a href="http://www.greenlandtechnology.com/">A GreenLand Technologies SMS Company </a>
            <p> Copyright © 2015. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>