<!-- Main Content Area --> 
    <div id="main-content">
	  <div id="squeeze">
	    <div id="main-content-inner">
		  <?php print $contenttop ?>
	      <?php if ($show_breadcrumb == 1) { ?>
		    <?php print $breadcrumb ?>
		  <?php }?>
          <?php if ($title) { ?>
		    <div class="node-title">
			  <?php print $title ?>
			</div>
	      <?php } ?>   
          <?php print $tabs ?>
          <?php print $help ?>
          <?php print $messages ?>
          <?php print $content; ?>
	      <?php print $feed_icons; ?>
		  <?php print $contentbottom; ?>
        </div>
	  </div>
	</div>  
	  
<!-- Left Sidebar -->
    <?php if ($left) { ?>
	  <div class="sidebar-left">
        <?php print $left ?>
	  </div>
    <?php } ?>    
	  
<!-- Right Sidebar -->
    <?php if ($right) { ?>
	  <div class="sidebar-right">
        <?php print $right ?>
	  </div>
    <?php } ?> 
