{#
/**
 * @file
 * Theme override to for the primary links region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
set classes = [
  'region',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if logged_in %}
      <div class="user-name">
        <span>{{ user.username }}</span> | <span>{{ logout_link }}</span>
      </div>
      <div class="user-append"></div>
    {% endif %}
    {{ content }}
  </div>
{% endif %}
